<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer #sidenav mode="side" position="start">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin">Inicio</a>
      <a mat-list-item routerLink="/admin/user">Usuarios</a>
      <a mat-list-item routerLink="/admin/group">Grupos</a>
      <a mat-list-item routerLink="/admin/rol">Roles</a>
      <a mat-list-item routerLink="/admin/relacion">Relación</a>
      <a mat-list-item routerLink="/admin/permiso">Permisos</a>
      <a mat-list-item routerLink="/home">Menu principal</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <img src="./../../assets/data.png" alt="">
        
      <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
          
          <div class="ml-2">
            <span>Sistema InfoGIA 2.0 - Proformas</span>
          </div>
          <div class="col offset-6">
            <span class="usuario">Bienvenido, {{id}}</span> 
            <button mat-stroked-button color="accent" (click)="logout()">Salir</button >
          </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
