.fondo{
    background: #E9E5E5;
}
.boton button{
  margin-right: 8px;
}

table input {
  width: 40px;
}

table td {
  font-size: 12px;
  text-align: center;
}
table th{
  text-align: center;
  background-color: blue;
  color: white;
}
.display{
  display: none;
}

table td .ari{
  font-size: 9px;
}
