<section>
    <mat-card>
      <mat-card-content>
        <form >
        <cron-editor  [(cron)]="cronExpression" [options]="cronOptions"></cron-editor>
        </form>
      </mat-card-content>

      <mat-card-footer>
        <div class="row">
          <div class="col-sm-9">
            <p>
              <b>Expression generada: {{cronExpression}}</b>
            </p>
          </div>
          <div class="col-sm-3">
            <p>
              <b>Expression actual: {{datosCron}}</b>
            </p>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="sendProg()">Programar Extracción </button>
      </mat-card-footer>

    </mat-card>
</section>
