<mat-card>
    <mat-card-header>
      <mat-card-title>Activación de Periodo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="periodoForm" (ngSubmit)="save(periodoForm.value)">
        <div class="row mt-4 mb-3 ml-5">
          <div class="col">
            <mat-form-field>
              <mat-label>Tipo de Captura: </mat-label>
              <mat-select matNativeControl required formControlName="tipo_captura_id">
                <mat-option *ngFor="let tipo of tcaptura" [value]="tipo.id"> {{tipo.descripcion}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-label>Tipo de Proforma: </mat-label>
              <mat-select matNativeControl required formControlName="tipo_proforma_id">
                <mat-option *ngFor="let tipo of proformar" [value]="tipo.id"> {{tipo.nombre}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-label>Año: </mat-label>
              <mat-select formControlName="anio_periodo">
                <mat-option *ngFor="let fech of fecha" [value]="fech">
                  {{ fech}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <section class="example-section">
              <mat-slide-toggle formControlName="estatus"
                  class="example-margin"
                  (change)="onChange($event)"
                  [color]="color"
                  [checked]="checked">
                Activar
              </mat-slide-toggle>
            </section>
          </div>
          <div class="col">
            <div class="example-button-row">
              <button class="btn btn-sm" type="submit" mat-raised-button color="primary">
                Registrar
              </button>
            </div>
          </div>
        </div>
      </form>
      <mat-card-subtitle>Registro de Periodos Activos</mat-card-subtitle>
      <div class="row">
        <div class="col">
          <table mat-table [dataSource]="periodos" class="mat-elevation-z8">
            <!-- Checkbox Column -->
  
            <!-- Position Column -->
            <ng-container matColumnDef="tcp">
              <th mat-header-cell *matHeaderCellDef>Tipo de Captura</th>
              <td mat-cell *matCellDef="let element">{{ element.clave }}</td>
            </ng-container>
  
            <!-- Name Column -->
            <ng-container matColumnDef="tp">
              <th mat-header-cell *matHeaderCellDef>Tipo de Proforma</th>
              <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
            </ng-container>
  
            <!-- Weight Column -->
            <ng-container matColumnDef="fech">
              <th mat-header-cell *matHeaderCellDef>Año</th>
              <td mat-cell *matCellDef="let element">{{ element.anio_periodo }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Acción</th>
              <td mat-cell *matCellDef="let data">
                  <a mat-raised-button [routerLink]="['edit', data.id]">Editar</a>
                  <button mat-raised-button color="warn" (click)="openDialog(data.id)">Eliminar</button>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  