<mat-card>
  <mat-card-header>
    <mat-card-title>Modelo de Negocios </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-6">
        <p>Editar Modelo: <strong>{{nombre}}</strong></p>
        <form [formGroup]="modelo" (ngSubmit)="saveModelo($event)">
          <div class="row">
            <div class="col">
              <mat-form-field>
                <input matInput placeholder="Nombre(Opcional)" formControlName="nombre" matTooltip="Escribe un numbre para el modelo de negocio"/>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <mat-label>Unidad de Negocio</mat-label>
                <mat-select formControlName="unidades_negocio_ids" multiple>
                  <mat-option *ngFor="let item of unidades" [value]="item.id"> {{item.descripcion}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-2">
                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                  <button type="submit"  class="btn btn-outline-primary btn-sm btn-block">Guardar</button>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="example-button-row ">
                  <a mat-raised-button color="danger" (click)="return()">
                    Cancelar
                  </a>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="unidad">
            <th mat-header-cell *matHeaderCellDef>Unidades de Negocio</th>
            <td mat-cell *matCellDef="let element">{{ element.descripcionUnidad }}</td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </mat-card-content> 
  