<mat-card>
  <mat-card-header>
    <mat-card-title>Modelo de Negocios</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <form [formGroup]="modelo" (ngSubmit)="saveModelo($event)">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="Nombre" formControlName="nombre" matTooltip="Escribe un numbre para el modelo de negocio"/>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Unidad de Negocio</mat-label>
          <mat-select formControlName="unidad_negocio_id">
            <mat-option *ngFor="let item of unidades" [value]="item.id"> {{item.descripcion}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <button type="submit"  class="btn btn-outline-primary btn-sm btn-block">Guardar</button>
          </div>
        </div>
        <div class="col-sm-1">
          <div class="example-button-row ">
            <a mat-raised-button color="danger" (click)="return()">
              Cancelar
            </a>
          </div>

        </div>
      </div>
  </form>
