
  .mat-column-id{
    width: 10%;
  }
  .mat-column-abrev{
    width: 15%;
  }
  .mat-column-nombre{
    width: 15%;
  }
  .mat-column-estatus{
    width: 15%;
  }
  .mat-column-action{
    width: 20%;
  }