<mat-card class="container">
  <mat-card-header>
    <mat-card-title>
      Extracción
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Extracción Contable">

        <mat-tab-group dynamicHeight>
          <mat-tab label="Programada">
            <div class="example-small-box mat-elevation-z4">
              <section>
                <mat-card>
                  <mat-card-content>
                    <form >
                    <cron-editor  [(cron)]="cronExpression" [options]="cronOptionsMensual" ></cron-editor>
                    </form>
                  </mat-card-content>
                  <mat-card-footer>
                    <div class="row">
                      <div class="col-sm-9">
                        <p>
                          <b>Expression generada: {{cronExpression}}</b>
                        </p>
                      </div>
                      <div class="col-sm-3">
                        <p class="cron-actual">
                          <b>Expression actual: {{datosCron[0].valor}}</b>
                        </p>
                      </div>
                    </div>
                    <button mat-raised-button color="primary" (click)="extraccionProgContable()">Programar Extracción </button>
                  </mat-card-footer>
                </mat-card>
            </section>
            </div>
          </mat-tab>
          <mat-tab label="Manual">
            <div class="example-large-box mat-elevation-z4">
              <form [formGroup]="formFecha" (ngSubmit)="extraccionManualContable(formFecha.value)">
                <div class="row">
                  <div class="col">
                    <mat-form-field>
                      <mat-label>Año Inicio</mat-label>
                      <mat-select formControlName="anioInicio">
                        <mat-option *ngFor="let item of anios" [value]="item.value"> {{item.viewValue}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <mat-label>Año Fin</mat-label>
                      <mat-select formControlName="anioFin">
                        <mat-option *ngFor="let item of anios" [value]="item.value"> {{item.viewValue}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <button type="submit" mat-raised-button color="primary" [disabled]="executing">Extracción </button>
              </form>
              <mat-progress-bar mode="indeterminate"  color="primary" class="progressbar" *ngIf="executing"></mat-progress-bar>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
      <mat-tab label="Extracción Flujo">
         <mat-tab-group dynamicHeight>
          <mat-tab label="Programada">
            <div class="example-small-box mat-elevation-z4">
              <section>
                <mat-card>
                  <mat-card-content>
                    <form >
                    <cron-editor  [(cron)]="cronExpression" [options]="cronOptionsSemanal"></cron-editor>
                    </form>
                  </mat-card-content>
                  <mat-card-footer>
                    <div class="row">
                      <div class="col-sm-9">
                        <p>
                          <b>Expression generada: {{cronExpression}}</b>
                        </p>
                      </div>
                      <div class="col-sm-3">
                        <p class="cron-actual">
                          <b>Expression actual: {{datosCron[1].valor}}</b>
                        </p>
                      </div>
                    </div>
                    <button mat-raised-button color="primary" (click)="extraccionProgFlujo()">Programar Extracción </button>
                  </mat-card-footer>
                </mat-card>
            </section>
            </div>
          </mat-tab>
          <mat-tab label="Manual">
            <div class="example-large-box mat-elevation-z4">
              <form [formGroup]="formFecha" (ngSubmit)="extraccionManualflujo(formFecha.value)">
                <div class="row">
                  <div class="col">
                    <mat-form-field>
                      <mat-label>Año Inicio</mat-label>
                      <mat-select formControlName="anioInicio">
                        <mat-option *ngFor="let item of anios" [value]="item.value"> {{item.viewValue}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <mat-label>Año Fin</mat-label>
                      <mat-select formControlName="anioFin">
                        <mat-option *ngFor="let item of anios" [value]="item.value"> {{item.viewValue}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <mat-label>Mes</mat-label>
                      <mat-select formControlName="mes">
                        <mat-option *ngFor="let item of meses" [value]="item.value"> {{item.viewValue}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <button type="submit" mat-raised-button color="primary" [disabled]="executing">Extracción </button>
              </form>
              <mat-progress-bar mode="indeterminate"  color="primary" class="progressbar" *ngIf="executing"></mat-progress-bar>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
      <mat-tab label="Montos Contable">
        <div class="example-small-box mat-elevation-z4">
          <section>
            <mat-card>
              <mat-card-content>
                <form >
                <cron-editor  [(cron)]="cronExpression" [options]="cronOptionsMensual"></cron-editor>
                </form>
              </mat-card-content>
              <mat-card-footer>
                <div class="row">
                  <div class="col-sm-9">
                    <p>
                      <b>Expression generada: {{cronExpression}}</b>
                    </p>
                  </div>
                  <div class="col-sm-3">
                    <p class="cron-actual">
                      <b>Expression actual: {{datosCron[2].valor}}</b>
                    </p>
                  </div>
                </div>
                <button mat-raised-button color="primary" (click)="sendProgMontoCont()">Programar Extracción </button>
              </mat-card-footer>
            </mat-card>
        </section>
        </div>
       </mat-tab>
      <mat-tab label="Montos Flujo">
        <div class="example-small-box mat-elevation-z4">
          <section>
            <mat-card>
              <mat-card-content>
                <form >
                <cron-editor  [(cron)]="cronExpression" [options]="cronOptionsSemanal"></cron-editor>
                </form>
              </mat-card-content>
              <mat-card-footer>
                <div class="row">
                  <div class="col-sm-9">
                    <p>
                      <b>Expression generada: {{cronExpression}}</b>
                    </p>
                  </div>
                  <div class="col-sm-3">
                    <p class="cron-actual">
                      <b>Expression actual: {{datosCron[3].valor}}</b>
                    </p>
                  </div>
                </div>
                <button mat-raised-button color="primary" (click)="sendProgMontoFlujo()">Programar Extracción </button>
              </mat-card-footer>
            </mat-card>
        </section>
        </div>
       </mat-tab>
      <mat-tab class="extraccion" label="Ejecución montos manual">
        <div class="row offset-4 extraccionManual">
          <div class="col">
            <app-loader></app-loader>
            <button  mat-fab color="warn" (click)="extraccion()" [disabled]="executing">Extraer</button>
            <mat-progress-bar mode="indeterminate"  color="primary" class="progressbar" *ngIf="executing"></mat-progress-bar>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    </mat-card-content>
</mat-card>

