.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
table th{
  text-align: center;
  background-color: #000080;
  color: wheat;
  border-right: #000080;
}
td {
  width: 25%;
  text-align: center;
}