/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
html, body { height: 100%; }
body { margin: 0; font-family: "Droid Sans", sans-serif; }
table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .usuario{
    font-size: 15px;
  }
  table th{
    text-align: center;
    background-color: #000080;
    color: wheat;
    border-right: #000080;
  }