.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
table th{
  text-align: center;
  background-color: #000080;
  color: wheat;
  border-right: #000080;
}
td, th {
  width: 25%;
  text-align: center;
}

.mat-column-idDB{
  width: 10%;
}
.mat-column-id{
  width: 10%;
}
.mat-column-empresa{
  width: 15%;
}
.mat-column-abrev{
  width: 10%;
}
.mat-column-etl{
  width: 5%;
}
.mat-column-cadconexion{
  width: 15%;
}
.mat-column-cambio{
  width: 10%;
}
.mat-column-modNegocios{
  width: 15%;
}

