<form [formGroup]="unidadF" (ngSubmit)="saveUnidad(unidadF.value)">
    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>Unidad de Negocio</mat-label>
                <mat-select formControlName="unidad_negocio_id" multiple>
                  <mat-option *ngFor="let item of unidades" [value]="item.id"> {{item.descripcion}} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-outline-primary btn-sm btn-block">Guardar</button>
        </div>
    </div>
</form>